.search
{
    flex: 2 1 0;
}

.image--container
{
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search--container
{
    text-align: center;
}

.search--container__input-text
{
    display: block;
    margin: 3vh auto;
}

.branchoffice--country
{
    text-align: center;
    flex: 1 1 0;
}
