.image
{
    flex: 1 1 0;
}

.image--container
{
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image--container__item
{
    max-width: 375px;
    max-height: 150px
}

@media (min-height: 700px)
{
    .image--container__item
    {
        max-width: 500px;
        max-height: 200px
    }
}

.search
{
    flex: 1 1 0;
}

.search--container
{
    text-align: center;
}

.search--container__input-text
{
    min-width: 60vw;
    min-height: 30px;
    display: block;
    margin: 3vh auto;
    border: 0.5px solid gray;
    border-radius: 15px;
}

.branchoffice--country
{
    text-align: center;
    flex: 2 1 0;
}
