body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul
{
    list-style-type: none;
}

a
{
    margin: 5px 5px;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}