ul
{
    list-style-type: none;
}

a
{
    margin: 5px 5px;
    text-decoration: none;
}

a:hover
{
    margin: 5px 5px;
    text-decoration: underline;
}


.top--navigator
{
    display: flex;
    justify-content: flex-end;
}

.top--navigator__list
{
    margin-right: 25px;
}